@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 225 11% 91%;
    --foreground: 220 25% 20%;
    --card: 0 0% 100%;
    --card-foreground: 220 25% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 25% 20%;
    --primary: 220 41% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 20% 95%;
    --secondary-foreground: 220 41% 27%;
    --muted: 220 15% 85%;
    --muted-foreground: 220 10% 45%;
    --accent: 205 39% 44%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 225 11% 84%;
    --input: 225 11% 88%;
    --ring: 205 39% 44%;
    --chart-1: 220 41% 27%;
    --chart-2: 205 39% 44%;
    --chart-3: 220 25% 50%;
    --chart-4: 205 25% 60%;
    --chart-5: 220 15% 70%;
    --radius: 0.5rem;
    --sidebar-background: 220 30% 22%;
    --sidebar-foreground: 220 15% 85%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 220 41% 27%;
    --sidebar-accent: 205 39% 44%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 30% 28%;
    --sidebar-ring: 205 39% 44%;
  }
  .dark {
    --background: 220 20% 10%;
    --foreground: 0 0% 98%;
    --card: 220 20% 14%;
    --card-foreground: 0 0% 98%;
    --popover: 220 20% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 220 41% 27%;
    --secondary: 220 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 20% 20%;
    --muted-foreground: 220 10% 60%;
    --accent: 205 39% 44%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 20% 25%;
    --input: 220 20% 25%;
    --ring: 205 39% 54%;
    --chart-1: 0 0% 98%;
    --chart-2: 205 39% 44%;
    --chart-3: 220 15% 85%;
    --chart-4: 205 30% 70%;
    --chart-5: 220 20% 50%;
    --sidebar-background: 220 20% 14%;
    --sidebar-foreground: 220 15% 85%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 220 41% 27%;
    --sidebar-accent: 205 39% 44%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 220 20% 25%;
    --sidebar-ring: 205 39% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
